.c-fullArticle {
	&__article {
		h1 {
			@include preset__h2;
			margin-bottom: 10px;
		}
		h2 {
			@include preset__h3();
		}
		h3 {
			@include preset__h4();
		}
		h4 {
			@include preset__h5();
		}
		h5 {
			@include preset__h6();
		}
		h6 {
			@include preset__h6();
		}
		p {
			@include preset__p($tc: var(--text));
		}
		figure {
			display: block;
			width: 100%;
			a {
				display: block;
			}
			img {
				display: block;
				width: 100%;
				border-radius: var(--radius);;
			}
			figcaption {
				@include preset__p($tc: var(--text));
				font-size: 14px;
				text-align: center;
				margin-top: 5px;
			}
		}
		> ul, > ol {
			display: block;
			li {
				display: list-item;
				list-style-position: inside;
				margin-bottom: 5px;
				&:last-of-type {
					margin-bottom: 0;
				}
				p {
					display: inline;
				}
			}
		}
		> ul {
			li {
				list-style-type: disc;
			}
		}
		> ol {
			li {
				list-style-type: decimal-leading-zero;
			}
		}
		blockquote {
			@include preset__p__l();
			border-radius: var(--radius);;
			padding: 20px 30px;
			background: var(--white3);
			font-style: italic;
		}

		&__video {
			@extend .u-aspectRatio;
			@extend .--ratio-16-9;
			border-radius: var(--radius);
		}
		&__gallery {
			a {
				@extend .u-aspectRatio;
				@extend .--ratio-3-2;
				border-radius: var(--radius);
				overflow: hidden;
				img {
					@include transition();
				}
				&:hover {
					img {
						@include scale(1.1, center);
					}
				}
			}
		}
	}
	&__footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid var(--gray);
		.c-tag {
			background: var(--white3);
		}
		&__tags ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			li {
				margin-right: 5px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
}
@media screen and (max-width: 640px) {
	.cFullArticle__article h1 {
		font-size: 40px;
	}
	.cFullArticle__article h2 {
		font-size: 32px;
	}
}
@media screen and (max-width: 640px) {
	.cFullArticle__article h1 {
		font-size: 32px;
	}
	.cFullArticle__article h2 {
		font-size: 26px;
	}
}