.c-medicalInsurances {
	h4 {
		@include preset__h4();
		color: var(--text__dark);
		margin-bottom: 5px;
	}
	ul {
		@include calcWidthForPositionNegative(-10px);
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		li {
			display: block;
			padding: 10px;
			img {
				display: block;
				height: 24px;
				width: auto;
			}
		}
	}
}