.c-neurodigital {
	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		i {
			@include flexWidth(18px);
			* {
				display: block;
				width: 18px;
				height: 18px;
				path {
					fill: var(--secondary);
				}
			}
		}
		span {
			@include preset__p(var(--secondary));
			font-size: 14px;
			padding-left: 6px;
			strong {
				font-weight: var(--fw__bold);
			}
		}
	}
}