.c-readMore {
	@include transition();
	@include preset__p();
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 10px;
	padding-top: 10px;
	position: relative;
	&:before {
		@include transition();
		content: '';
		display: block;
		width: 50px;
		height: 1px;
		position: absolute;
		top: 0;
		left: 0;
		background: var(--grayLight__b);
	}
	span {
		@include transition();
		@include preset__p(var(--primary));
		white-space: nowrap;
		padding-right: 8px;
		font-weight: var(--fw__bold);
	}
	i {
		@include transition();
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		background: var(--secondary__gradient);
		cursor: pointer;
		position: relative;
		right: 0;
		svg {
			display: block;
			width: 10px;
			height: 10px;
			path {
				fill: var(--primary)
			}
		}
		&.--l {
			@include rotate(180deg, center);
		}
	}

	&:hover {
		&:before {
			width: 80px;
			background: var(--primary);
		}
		i {
			right: -6px;
		}
	}
}