.l-footer {
	position: relative;
	z-index: 1;
	background: var(--primary__ultraDark);
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	&__effect {

	}
	&__row {
		position: relative;
		z-index: 2;
		padding: 25px 0;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}
	&__col {

	}
	.u-container {
		&:last-of-type {
			.l-footer__row {
				align-items: center;
				border-bottom: 0;
				padding-bottom: 20px;
			}
		}
	}

	.c-cardProctomais {
		max-width: 400px;
		p {
			color: var(--grayLight__c);
		}
	}
}
@media screen and (max-width: 1024px) {
	.l-footer {
		.u-container {
			max-width: 600px;
		}
		&__row {
			justify-content: center;
			flex-wrap: wrap;
		}
		&__col {
			@include flexWidth(100%);
			&.--sitemap {
				display: none;
			}
		}

		.c-cardProctomais {
			@include cCardProctomaisCenter;
			margin: 0 auto;
		}
		.c-copyright {
			* {
				text-align: center;
			}
		}
		.c-neurodigital {
			margin-top: 15px;
			a {
				justify-content: center;
			}
		}
	}
}
@media screen and (max-width: 740px) {
	.l-footer {
		padding-top: 40px;
		padding-bottom: 20px;
	}
}