.l-headerInner {
	display: block;
	padding-top: 190px;
	padding-bottom: 360px;
	background: var(--primary__gradient);
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		position: absolute;
		left: 0;
		bottom: -1px;
		z-index: 2;
		background: var(--white3)
	}
	&__bgEffect {
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: var(--primary__gradient);
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		opacity: 0.05;
	}
	&__content {
		position: relative;
		z-index: 3;
		.u-container {
			max-width: 780px;
		}
		h1 {
			@include preset__h1($tc: var(--secondary));
			margin-bottom: 15px;
			text-align: center;
		}
		p {
			@include preset__p__l($tc: var(--white));
			text-align: center;
		}
		.c-scrollLink {
			margin-top: 20px;
		}
	}

	&__brandEffect {
		@include rotate(4deg, center);
		display: flex;
		justify-content: flex-end;
		width: 720px;
		height: 390px;
		position: absolute;
		right: 0;
		bottom: 10px;
		z-index: 2;
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__curve {
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 711px;
		z-index: 1;
		background-image: url("../../assets/media/img/effect_white_2.png");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: contain;
	}
	&__breadcrumb {
		position: absolute;
		bottom: 145px;
		left: 0;
		right: 0;
		z-index: 3;
	}

	&.--whiteCurve {
		.l-headerInner__curve {
			background-image: url("../../assets/media/img/effect_white_3.svg");
			background-repeat: no-repeat;
			background-position: bottom center;
			background-size: contain;
		}
	}
	&.--article {
		.l-headerInner__content .u-container {
			max-width: var(--container__width);
		}
	}
}
@media screen and (max-width: 1280px) {
	.l-headerInner {
		padding-top: 170px;
		padding-bottom: 260px;
		&__brandEffect {
			@include rotate(10deg, center);
			bottom: 10px;
			width: 520px;
			height: 280px;
		}
		&__breadcrumb {
			bottom: 120px;
		}
	}
}
@media screen and (max-width: 1080px) {
	.l-headerInner {
		overflow: inherit;
		padding-bottom: 80px;
		border-bottom-left-radius: 120px;
		box-shadow: var(--shadow__1);
		&:after {
			display: none;
		}
		&__bgEffect {
			border-bottom-left-radius: 120px;
		}
		&__curve {
			display: none;
		}
		&__brandEffect {
			bottom: -80px;
			width: 300px;
			height: 160px;
		}
		&__breadcrumb {
			bottom: -50px;
		}
	}
}
@media screen and (max-width: 780px) {
	.l-headerInner__content .u-container {
		max-width: 600px;

	}
	.l-headerInner__content {
		h1 {
			font-size: 44px;
		}
		p {
			font-size: 18px;
		}
	}

	.l-headerInner__brandEffect {
		display: none;
	}
}

