.p-inner {
	.s-locations {
		background: var(--page__bg);
	}
	.s-schedule {
		background-color: transparent;
	}
	.s-doctor {
		background: transparent;
		padding-bottom: 0;
		&:after {
			display: none;
		}
		&__curve {
			display: none;
		}
		&__content {
			padding-top: 0;
			.cBtn {
				display: none;
			}
		}
	}
}
.p-inner.p-error {
	.s-locations {
		display: none;
	}
	.l-footer {
		padding-top: 30px;
	}
}
.p-inner.p-staff {
	.s-photoGallery {
		background: var(--white);
		box-shadow: var(--shadow__1);
		padding: 60px 0;
		margin: 60px 0;
		&:before {
			display: none;
		}
	}
}
.p-inner:not(.p-procedures) {
	.s-schedule {
		background-image: inherit;
		padding: 0;
	}
}
.p-inner.p-procedures {
	.s-schedule {
		margin-top: 60px;
	}
}

.p-inner.p-news,
.p-inner.p-news-categories,
.p-inner.p-news-article {
	.s-schedule {
		padding-top: 70px;
	}
}

.p-inner.p-news-categories,
.p-inner.p-news-article {
	.s-listPosts {
		padding-top: 0;
	}
}
.p-inner.p-news-article {
	.s-gridPosts {
		padding-top: 60px;
	}
}